<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ng-show="adminPanel" ui-sref="app.createUser"><i class="icon-speedometer"></i> Create User </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ng-hide="adminPanel" ui-sref="app.viewProject"><i class="icon-speedometer"></i> View Projects </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ng-show="adminPanel" ui-sref=""><i class="icon-speedometer"></i>View All Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ng-hide="adminPanel" ui-sref=""><i class="icon-speedometer"></i>View All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ng-show="adminPanel" ui-sref=""><i class="icon-speedometer"></i>View All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ng-hide="adminPanel" ui-sref="appSimple.login"><i class="icon-speedometer"></i>Sign Out</a>
            </li>
        </ul>
    </nav>
</div>
